<h1>Listing statistics</h1>


  <% @provinces.each do |province| %>
      <div class="row">
        <div class="col-md-1"><%=province.id %></div>
        <div class="col-md-8"><%=province.name %></div>
        <div class="col-md-3">
          </div>
          </div>
      <%end%>



<% @constituencies.each do |constituency| %>
    <div class="row">
      <div class="col-md-1">ID: <%=constituency.id %></div>

      <div class="col-md-6">Nazwa: <%=constituency.name %></div>
      <div class="col-md-3">

    </div>
    </div>
<% end %>



<br>

<%= link_to 'New Statistic', new_statistic_path %>
