<h1>Listing statistics</h1>



<% @provinces.each do |province| %>
    <div class="row">
      <div class="col-md-1"><%=province.id %></div>
      <div class="col-md-8"><%=province.name %></div>
      <div class="col-md-3">
      </div>
    </div>
    <% province.constituencies.each do |c| %>
        <%= c.name %>
        <% c.votes.each do |v| %>
            <%= v.quantity %>
            <%= v.committee.name %>
        <% end %>
    <% end%>
<%end%>




<br>

<%= link_to 'New Statistic', new_statistic_path %>
