


<% if current_user.role == 1 %>
	<h1>Statystyki</h1>
	<% @provinces.each do |province| %>
		<div class="table-responsive">
		  <table class="table table-striped">
				<thead>
					<tr class="success">
		    		<td><%=province.id %></td>
		    		<td><%=province.name %></td>
					</tr>
		    </thead>
				<tbody>
					<tr>
						<td>Ilość uprawnionych do głosowania</td>
						<td><%= count_voters_by_province_id(province.id) %></td>
					</tr>
					<tr>
						<td>Ilość oddanych głosów</td>
						<td><%= count_votes_by_province_id(province.id) %></td>
					</tr>
					<% province.committees.each do |committee| %>
					<tr>
						<td><%= committee.name %></td>
						<td><%= count_percentage(count_all_votes(committee.id, province.id), count_votes_by_province_id(province.id))%>% (<%= count_all_votes(committee.id, province.id) %> głosów)</td>
					</tr>
					<% end %>
					<tr class="info">
						<td colspan="2">Ilość głosów w poszczególnych okręgach:</td>
					</tr>
				  <% province.constituencies.each do |c| %>
						<tr>
							<td colspan="2">
								<table class="table">
									<thead>
										<tr class="info">
						      		<td colspan="2"><%= c.name %></td>
										</tr>
									</thead>
									<tbody>
										<% c.votes.each do |v| %>
											<tr>
												<td>
													<%= v.committee.name %>
												</td>
												<td>
						            	<%= v.quantity %>
												</td>
											</tr>
						        <% end %>
										<tr class="active">
											<td>Suma</td>
											<td><%= count_votes_by_constituency_id(c.id) %></td>
										</tr>
									</tbody>
								</table>
							</td>
						<tr>
				  <% end%>
				</tbody>
			</table>
		</div>
	<%end%>
<% else %>
	<h1>Nie masz uprawnień!</h1>
<% end %>

