<h1>Listing constituencies</h1>

    <% @constituencies.each do |constituency| %>
      <div class="row">
        <div class="col-md-1">ID: <%=constituency.id %></div>
        <div class="col-md-2">Ilość kart: <%=constituency.voters %></div>
				<div class="col-md-6">Nazwa: <%=constituency.name %></div>
        <div class="col-md-3">
					<div class="icon-set"><i class="fa fa-eye"></i><%= link_to 'Show', constituency %></div> 
        	<div class="icon-set"><i class="fa fa-pencil-square-o"></i><%= link_to 'Edit', edit_constituency_path(constituency) %></div>
       	<!--	<div class="icon-set"><i class="fa fa-times"></i><%= link_to 'Destroy', constituency, method: :delete, data: { confirm: 'Are you sure?' } %></div> -->
				</div>
			</div>
    <% end %>

<br>

<%= link_to 'New Constituency', new_constituency_path, :class => 'btn, btn-ali' %>
