<%= form_for(@committee, :html => { :multipart => true }) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
    <%= f.file_field :avatar %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
    <%= f.collection_select(:province_id, Province.all.order('created_at ASC'), :id, :name,{}, {:multiple => true}) %>


<p class="actions">
  <%= f.submit %>
</p>

<% end %>