<h1>Komitety</h1>
    <% @committees.each do |committee| %>
      <div class="row">
        <div class="col-md-1"><h3><%=committee.id %></h3></div>
        <div class="col-md-8"><%= image_tag committee.avatar.url(:thumb) %> <%=committee.name %></div>
				<div class="col-md-3">
        	<div class="icon-set"><i class="fa fa-eye"></i><%= link_to 'Show', committee %></div> 
        	<div class="icon-set"><i class="fa fa-pencil-square-o"></i><%= link_to 'Edit', edit_committee_path(committee) %></div> 
        	<!--<div class="icon-set"><i class="fa fa-times"></i><%= link_to 'Destroy', committee, method: :delete, data: { confirm: 'Are you sure?' } %></div> -->
				</div>
			</div>
    <% end %>
<br />
<%= link_to 'Nowy komitet', new_committee_path, :class => 'btn btn-ali' %>

