<p id="notice"><%= notice %></p>

<%= link_to 'Edytuj', edit_committee_path(@committee) %> |
<%= link_to 'Powrót', committees_path %>

<%= image_tag @committee.avatar.url %>
<%= image_tag @committee.avatar.url(:medium) %>
<%= image_tag @committee.avatar.url(:thumb) %>
