<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>

<%= image_tag @committee.avatar.url %>
<%= image_tag @committee.avatar.url(:medium) %>
<%= image_tag @commi.avatar.url(:thumb) %>
