<h1>Lista województw</h1>


    <% @provinces.each do |province| %>
      <div class="row">
        <div class="col-md-1"><%=province.id %></div>
        <div class="col-md-8"><%=province.name %></div>
        <div class="col-md-3">
					<div class="icon-set"><i class="fa fa-eye"></i><%= link_to 'Podgląd', province %></div>
        	<div class="icon-set"><i class="fa fa-pencil-square-o"></i><%= link_to 'Edycja', edit_province_path(province) %></div>

				</div>
			</div>
    <% end %>

<br>

<%= link_to 'Nowe województwo', new_province_path, :class => 'btn btn-ali' %>
