<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select(@vote.vote_status), :id => ("vote_status") %>
    </div>
		<div class="field" id="status_reason" style="display:none;">
			Tu bedzie reason!
		</div>
    <div class="field">
      <%= f.label :quantity%><br />
      <%= f.text_field :quantity%>
		</div>
  <div class="actions">
    <%= f.submit %>
  </div>
    <%end%>
		
		<script>
		$('#vote_status').change(function(){
			//alert($('#vote_status').val());
			if($('#vote_status').val()=="Anulowany"){
				$("#status_reason").css('display', 'block');
			} else {
				$("#status_reason").css('display', 'none');
			}
		});
		</script>