<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :canceled_votes_1  %><br />
      <%= f.text_field :canceled_votes_1 %>
    </p>
    <p>
      <%= f.label :canceled_votes_2  %><br />
      <%= f.text_field :canceled_votes_2 %>
    </p>
    <p>
      <%= f.label :canceled_votes_3  %><br />
      <%= f.text_field :canceled_votes_3 %>
    </p>
    <button type=“submit” class=“btn btn-success”>Create Vote</button>
  </div>
    <%end%>

