<h1>Patrzcie, jak ludzie głosujo</h1>

	<% if current_user.role == 0%>
    <% @votes.each do |vote| %>
      <div class="row">
        <div class="col-md-1">ID: <%= vote.id %></div>
				<div class="col-md-4">Nazwa komitetu: <%= findCommitteeById(vote.committee_id) %></div>
        <div class="col-md-3">Ilość głosów: <%= vote.quantity %></div>
        <div class="col-md-4">ID komitetu: <%= vote.committee_id %></div>
			</div>
    <% end %>
	<% end %>

	<% if current_user.role == 1%>
    <% @votes.each do |vote| %>
      <div class="row">
        <div class="col-md-1">ID: <%= vote.id %></div>
				<div class="col-md-2">Nazwa komitetu: <%= findCommitteeById(vote.committee_id) %></div>
        <div class="col-md-2">Ilość głosów: <%= vote.quantity %></div>
        <div class="col-md-2">ID komitetu: <%= vote.committee_id %></div>
				<div class="col-md-2">Nazwa województwa: <%= findConstituencyById(vote.constituency_id) %></div>
				<div class="col-md-3">ID Województwa: <%= vote.constituency_id %></div>
			</div>
    <% end %>
	<% end %>
	
